.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___root .fighter-preview___img {
  height: 330px;
}

.fighter-preview___info{
  background-color: #ffdfa7;
  color: #ca9650;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 5px solid #ca9650;
  column-gap: 1rem;
  padding: 0;
  text-shadow: 1px 1px 2px #000000, 0 0 1em #000000, 0 0 0.2em #000000;;
}

.fighter-preview___right  .fighter-preview___img{
  transform:rotateY(180deg)
}

.fighter-preview___info-item{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-size: 22px;
  padding: 10px;
  text-transform: uppercase;
}

.fighter-preview___info-item:first-child {
  display: flex;
  font-size: 2rem;
  flex: 0 0 100%;
}
