.modal-layer {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(128, 128, 128, 0.6);
}

.modal-root {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, .2);
  background-color: white;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 300px;
  padding: 1rem;
  border-bottom: 1px solid #e9ecef;
  font-weight: 700;
  font-size: 22px;
}

.modal-body {
  padding: 1rem;
}

.close-btn {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  cursor: pointer;
}

.winner-modal {
  width: 60%;
  height: 50%;
  z-index: 1;
  background-color: #ffdfa7;
  color: #ca9650;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 5px solid #ca9650;
  column-gap: 1rem;
  padding: 0;
  flex-direction: column;
}

.winner-modal__header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.winner-modal__img {
  width: 25%;
  height: 60%;
  margin-bottom: 1rem;
}

.winner-modal__restart {
  cursor: pointer;
  font-weight: 700;
  font-size: 22px;
  background-color: #ffdfa7;
  color: #ca9650;
  border: 5px solid #ca9650;
  border-radius: 6px;
  padding: 10px;
  transition: 0.5s;
}

.winner-modal__restart:hover {
  background-color: #ca9650;
  color: #ffdfa7;
}